<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Konst - Register</title>
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="stylesheet" href="/css/register.css">		
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%-include("../partials/background.ejs")%>

		<%- include("../partials/navbar.ejs") %>
		<div class='form-container'>
			<h1 class='main-heading'>REGISTER</h1>
			<div class='input-container'>
		<%-include("../partials/messages.ejs") %>

		<form method="POST" action="/user/register">
			<input
				type="text"
				id="name"
				name="name"
				placeholder="Name"
				required
				maxlength="30"

				value="<%= typeof name != 'undefined' ? name: '' %>"
			/>
			<input
				type="email"
				id="email"
				name="email"
				placeholder="Email"
				required
				maxlength="50"
				value="<%= typeof email != 'undefined' ? email: '' %>"
			/>
			<input
				type="number"
				id="mobileNumber"
				name="mobileNumber"
				placeholder="Whatsapp Number"
				required
				maxlength="15"
				value="<%= typeof mobileNumber != 'undefined' ? mobileNumber: '' %>"
			/>

            <input
                type="text"
                id="collegeName"
                name="collegeName"
                placeholder="College Name"
                required
				maxlength="100"
                value="<%= typeof collegeName != 'undefined' ? collegeName: '' %>"
            />

			<a class='register-link' href="/user/login">already have an account ?</a>

			<button type="submit">Register</button>
		</div>
			</form>

	</body>
</html>
